@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=David+Libre:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

body {
    background-color: #5283B5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
   background-color: #5283B5;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7rem;
    padding: -10px 40px;
    width: 100%;
    transition: all 0.5s;
    font-family: 'David Libre', serif;
    position: relative;
    width: 80%;
}

.botoes {
    display: flex;
    gap: 1rem;
    margin-right: 2rem;
    margin-bottom: .5rem;

}

.botoes button {
    text-transform: uppercase;
    height: 50px;
    width: 170px;
    border: none;
    background-color: #D67E3E;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 0px 10px 0px 10px;
    font-family: 'Poppins', serif;
    margin-left: 2rem;
    box-shadow: #284058;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
}

.botoes button:hover {
    background-color: #9e5a2a;
    color: #f2f2f2;
    transition: all .5s;
}

.logo{
    margin-bottom: 10rem;
    margin-right: 2rem;
}

.logo img {
    width: 400px;
    height: 380px;
    margin-top: 1rem;
    top: -50px;
    left: -15rem;
    position: absolute;
}

.navigation ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-left: 5rem;
}

.navigation ul li a {
    color: #fff;
    font-weight: 400;
    transition: all 0.5s;
    font-size: 1.5rem;
}


.navigation ul li a:hover {
    color: #D67E3E;
}

.navigation i {
    cursor: pointer;
    font-size: 1.5rem;
}


.menu {
    cursor: pointer;
    display: none;
}

.menu .bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--white);
    margin: 5px auto;
    transition: all 0.3s;
}


/*responsividade*/
@media (max-width: 785px){
    header {
        display: flex;
        align-items: center;
        padding-right: 2rem;
    }

    .logo img {
        width: 100%;
        margin-left: -1rem;
    }
    .logo {
        margin-right: -.5rem;
    }

    .botoes {
        gap: 1rem;
        margin-right: 1rem;
    }

    .botoes button {
        font-size: .9rem;
        width: 100px;
        height: 45px;
    }

    .menu {
        display: block;
    }

    .menu.ativo .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .menu.ativo .bar:nth-child(2){
        opacity: 0;
    }

    .menu.atvio .bar:nth-child(3){
        transform: translateX(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        right: -100%;
        top: 200px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: #284058;
        gap: -10px;
        transition: 0.3s;
        z-index: 3;

    }

    .nav-menu.ativo{
        right: 0;
    }

    .nav-item{
        margin: 16px 0;
        border-bottom: 4px solid #5283B5;
        margin-right: 15rem;

    }

    .nav-item:first-child{
        margin-top: 4rem;

    }


}

#home{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px 10%;
}
.home-text{
    max-width: 37rem;
    padding-bottom: 12rem;
}

.home-text .text-h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
    color: #fff;
    font-family: 'David Libre', serif;
    font-weight: 800;
}
.home-text p{
    margin-bottom: 4rem;
    color: #fff;
    font-size: 1.5rem;
    font-family: 'David Libre', serif;
    font-weight: 400;
    line-height: 1.5rem;
}


.icones-home i {
    height: 55px;
    width: 55px;
    background-color: #D67E3E;
    color: #284058;
    font-size: 22px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 15px;
    transition: all .45s ease;
}

.icones-home i:hover {
    background-color: #5283B5;
    color:#D67E3E ;
    border: solid 3px #D67E3E;
}


.home-img {
    position: relative;
    margin-bottom: 2rem;
}
.home-img img:first-child {
    width: 560px;
}

.dog {
    margin-bottom: 3rem;
    position: absolute;
    height: 440px;
    top: 0;
    right: 0;
    transform: translate(0, -50%);
    z-index: 2;
    
}

.border-dog {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, -25%);
    margin-top: 13rem;
    margin-right: -10rem;
    z-index: -1;

}

/*equipamentos*/

.equipments {
    background-color: #A8C1DA;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 16rem;
    font-family: 'David Libre', sans-serif
}

.equipments h1 {
    color: #284058;
    font-size: 3.5rem;
    margin-block: 4rem;
    font-family: 'David Libre', sans-serif;
}

.equipment-contents {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 5rem;
}

.equipment-containers {
    background-color: #7DA2C7;
    height: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px 30px;
}

.background-equipment {
    background-color: #5B89B8;
    margin-top: 2rem;
    width: 240px;
    height: 230px;
    display: flex;
    justify-content: center;
    border-radius: 10px 30px;
}

.equipment-text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.equipment-text p {
    padding: 1rem;
    font-size: 1.5rem;
    color: #fff;
}

.equipment-text span {
    color: #fff;
    font-size: 1.1rem;
}

/*footer*/

footer {
    padding: 3.5rem;
    display: flex;
    flex-direction: column;
    background-color: #284058;
    font-family: 'David Libre', sans-serif
    
}

.footer-top {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-img img {
    width: 240px;
}




.footer-textarea h4 {
    color: #fff;
    padding-right: 1rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}
.footer-textarea button {
    height: 40px;
    width: 110px;
    border: none;
    border-radius: 30px;
    margin-top: .5rem;
    background-color:#D67E3E ;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
}
.footer-textarea button:hover {
    background-color: #9e5a2a;
    color: #f2f2f2;
    transition: all .5s ;
}
.footer-textarea textarea{
    opacity: .4;
    width: 500px;
    color: #000;
    border-radius: 8px;
}

textarea::placeholder{
   padding-left: 1rem;
   padding-top: .5rem;
   font-size: 1.2rem;
   font-family: 'David Libre', sans-serif
}
.footer-profile {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 2rem;
}

.social-midias img {
    width: 60px;
    height: 60px;
}

.social-midias{
    margin-left: 16rem;
}



.user {
    display: flex;
    flex-direction: column;
    gap: 8px;
    
}

.user input {
    width: 440px;
    height: 45px;
    border-radius: 15px;
    border: none;
    opacity: .4;
    color: #000;
    border-radius: 8px;
}

.user input::placeholder {
    padding-left: 1rem;
    color: #000;
    font-family: 'David Libre', sans-serif;
    font-size: 1.2rem;
}

.user button {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D67E3E;
    border: none;
    height: 50px;
    color: #fff;
    border-radius: 50px;
    font-size: 1.5rem;
    font-family: 'David Libre', sans-serif
}
.user button:hover{
    background-color: #9e5a2a;
    color: #f2f2f2;
    transition: all .5s ;
}
.user button img {
    width: 40px;
    height: 40px;
    margin-right: 2rem;
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding: 3rem 0 0 0;
    color: #fff;
}





@media (max-width: 785px) {
    
    /*main*/

    .home{
        flex-direction: column;
        display: flex;
        align-items: center;
        margin-top: 2rem;
    }
    .home .text-h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .home p{
        font-size: 15px;
    }

    .home-text{
        height: 390px;
    }
    .home-img{
        width: 140%;
        margin-bottom: 20rem;
        margin-left: 2rem;
    }

    .home-img img:first-child {
        width: 470px;
        
    }

    .border-dog {
        width: 820px;
        margin-top: 14rem;
        margin-right: 1rem;
    }
    /*equipamentos*/

    .equipments h1 {
        font-size: 3rem;
        text-align: center;
    }
    .equipment-contents{
        display: flex;
        flex-direction: column;
        width: 300px;
    }

    .video img {
     height: 400px;
     padding-inline: 10%;

    }

    /*footer*/

    .footer-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
    .footer-img img {
        width: 200px;
    }

    .footer-img{
        margin-left: 7rem;
    }

    .footer-textarea{
        width: 410px;
    }
    .footer-textarea textarea{
        opacity: .4;
        width: 380px;
        color: #000;
        border-radius: 8px;
    }
    
    .social-midias {
        display: flex;
        margin-block: 1rem;
        margin-left: 8rem;
    }
    .footer-bottom {
        gap:1.5rem;
        color: #fff;
        font-size: .5rem;
    }




}