/*font-family: 'David Libre', serif;*/
/*font-family: 'Alegreya SC', serif;*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root{
    --red:#d63a25;
    --white:#fff;
    --dark:#1e1c2a;
}

html {
    scroll-behavior: smooth;
}

body{
    background: #5283B5;
}


/*header design*/
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 40px;
    width: 100%;
    transition: all 0.5s;
}
.botoes {
    display: flex;
    gap: 2.5rem;
    
}

.botoes button {
    height: 50px;
    width: 170px;
    border: none;
    background-color: #D67E3E;
    color: #fff;
    font-size: 1rem;
    border-radius: 25px;
    font-size: 1.5rem;
}

.botoes button img {
    height: 20px;
    width: 30px;
    margin-right: .5rem;
}

.botoes button:hover {
    background-color: #9e5a2a;
    color: #f2f2f2;
    transition: all .5s ;
}


.logo img {
    width: 250px;
    margin-top: 1rem;
}

.navigation ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}
.navigation ul li a{
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
    font-size: 1.2rem;
}
.navigation ul li a:hover{
    color: #D67E3E;
}
.navigation i{
    cursor: pointer;
    font-size: 1.5rem;
}
.menu{
    cursor: pointer;
    display: none;
}
.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--white);
    margin: 5px auto;
    transition: all 0.3s;
}

/*objetivo design*/

.objetivo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.objetivo-top-content {
    display: flex;
    flex-direction: row;
    z-index: 1;
}

.obj-um-text {
    font-size: 1.8rem;
    width: 490px;
    height: 270px;
    margin-right: 10rem;
    line-height: 2.5rem;
    color: #fff;
    font-family: 'David Libre', serif;
}

.obj-um-img img {
    width: 458px;
    height: 430px;
}

.objetivo-middle-content {
    display: flex;
    flex-direction: row;
    margin-top: 2.5rem;
    font-size: 1.8rem;
    height: 270px;
    position: relative;
}

.obj-dois-text {
    font-size: 1.8rem;
    width: 490px;
    height: 270px;
    margin-left: 10rem;
    line-height: 2.5rem;
    color: #fff;
    font-family: 'David Libre', serif;
}

.obj-dois-img {
    height: 400px;
    z-index: 1;
    margin-right: 13rem;
    margin-bottom: 4rem;
}

.obj-dois-img img {
    width: 450px;
}

.obj-dois-text button {
    margin-top: 2rem;
    height: 55px;
    width: 200px;
    text-transform: uppercase;
    font-family: 'David Libre', serif;
    border: none;
    background-color: #284058;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 25px;
}

.obj-dois-text button:hover {
    background-color: #1e1c2a;
    color: #f2f2f2;
    transition: all .5s ;
}


.obj-bottom-content p {
    color: #284058;
    font-family: 'David Libre', sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    z-index: 2;
    margin-top: 5rem;
    margin-right: 25rem;
    padding-bottom: 2rem;
}

.obj-bottom-button {
    margin-left: 25rem;
    margin-bottom: 2rem;
}

.obj-bottom-button button {
    margin-bottom: 5rem;
    height: 55px;
    width: 200px;
    text-transform: uppercase;
    font-family: 'David Libre', serif;
    border: none;
    background-color: #D67E3E;
    color: #284058;
    font-size: 1.5rem;
    border-radius: 25px;
}

.obj-bottom-button button:hover{
    background-color: #284058;
    color: #D67E3E;
}


@media (max-width: 785px) {
    header {
        display: flex;
        align-items: center;
        padding-right: 2rem;
    }

    .logo img {
        width: 180px;
        margin-left: -1rem;
    }

    .logo {
        margin-right: -.5rem;
    }

    .botoes {
        gap: 1rem;
        margin-right: 1rem;
    }

    .botoes button {
        font-size: .9rem;
        width: 100px;
        height: 45px;
    }

    .menu{
        display: block;
    }
    .menu.ativo .bar:nth-child(1){
        transform:  translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }
    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 200px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: #284058;
        gap: -10px;
        transition: 0.3s;
        z-index: 3;

    }
    .nav-menu.ativo{
        right: 0;
    }
    .nav-item{
        margin: 16px 0;
        border-bottom: 4px solid #5283B5;
        margin-right: 15rem;

    }

    .nav-item:first-child{
        margin-top: 4rem;
    }

    /*objetivo mobile*/

    .objetivo-top-content {
        display: flex;
        flex-direction: column;
        z-index: 1;
        align-items: center;
    }

    .obj-um-text {
        font-size: 1.5rem;
        width: 420px;
        height: 280px;
        line-height: 2rem;
        margin-left: 10rem;
    }
    
    .obj-um-img img {
        width: 458px;
        height: 430px;
    }

    
    .objetivo-middle-content {
        display: flex;
        flex-direction: column-reverse;
        align-self: center;
        justify-content: center;
        font-size: 1.5rem;
        height: 280px;
        width: 100%;
        margin-top: 25rem;
    }

    .obj-dois-text{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-right: 13rem;
    }
    .obj-dois-img {
        margin-top: 6rem;
    }

    .obj-bottom-content p {
        margin-top: 16rem;
        margin-left: 25rem;
        padding-bottom: 2rem;
    }

    .obj-bottom-button {
        margin-left: 25rem;
        margin-bottom: 2rem;
    }
    
}