* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.treinamento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.vibracao{
    background-color: #2D455D;
    width: 100%;
    height: 450px;
}


.vibracao h1 {
    text-align: center;
    margin-top: 2.6rem;
    font-size: 3rem;
    font-family: 'Aclonica', sans-serif;
    color: #fff;
}

.vibracao button {
    top: 0;
    right: 10px;
    position: absolute;
    margin-top: 3rem;
    margin-right: 10rem;
    height: 40px;
    width: 130px;
    border: none;
    background-color: #D67E3E;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 20px;
    font-family: 'David Libre', serif;
}
.vibracao button img {
    height: 20px;
    width: 30px;
    margin-right: .5rem;
}

.vibracao button:hover {
    background-color: #9e5a2a;
    color: #f2f2f2;
    transition: all .5s ;
}

.vibracao-content {
    display: flex;
    align-items: center;
    margin-inline: 20rem;
    margin-bottom: 1rem;
}



.img-vibracao img {
    width: 440px;
}

.text-vibracao {
    display: block;
    align-items: center;
    justify-content: center;
    
    color: #fff;
    line-height: 28px;
    font-size: 1.4rem;
    height: 400px;
    padding-top: 2rem;
    font-family: 'ABeeZee', sans-serif;
}

.atencao {
    width: 100%;
    height: 400px;
    background-color: #BE7643;
}
.atencao h1{
    margin-left: 24rem;
    margin-top: 2.6rem;
    font-size: 3rem;
    font-family: 'Aclonica', sans-serif;
    color: #fff;
}

.atencao-content{
    display: flex;
    margin-inline: 20rem;
    margin-bottom: 2rem;
    justify-content: space-between;
}

.text-atencao {
    display: block;
    align-items: center;
    justify-content: center;
    width: 500px;
    color: #fff;
    line-height: 28px;
    font-size: 1.4rem;
    height: 400px;
    padding-top: 3rem;
    font-family: 'ABeeZee', sans-serif;
}

.img-atencao img {
    width: 380px;
    height: 300px;
}

.img-atencao {
   margin-top: 1rem;
}


.associacao {
    background-color: #2D455D;
    width: 100%;
}

.associacao h1 {
    text-align: center;
    margin-top: 2.6rem;
    font-size: 3rem;
    font-family: 'Aclonica', sans-serif;
    color: #fff;
}

.associacao-content {
    display: flex;
    align-items: center;
    margin-inline: 20rem;
    margin-bottom: 1rem;
}

.img-associacao img {
    width: 440px;
}
.img-associacao{
    padding-bottom: 4rem;
}

.text-associacao {
    display: block;
    align-items: center;
    justify-content: center;
    width: 500px;
    color: #fff;
    line-height: 28px;
    font-size: 1.4rem;
    height: 400px;
    padding-top: 2rem;
    font-family: 'ABeeZee', sans-serif;
}


@media (max-width: 785px){
    .vibracao h1 {
        font-size: 2rem;
    }

    .vibracao button {
        top: -90px;
        left: 22rem;
        position: relative;
        width: 115px;
    }
    .vibracao {
        display: flex;
        flex-direction: row;
        align-self: center;
        justify-content: space-around;
    }
    .img-vibracao img {
        width: 340px;
    }



}

